<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hack Herald</title>
    <script>
       setTimeout(function(){
           location.reload();
       },30000); // 30000 milliseconds means 5 seconds.
    </script>
</head>
<style>
    div.blueTable {
      border: 1px solid #1C6EA4;
      background-color: #EEEEEE;
      width: 100%;
      text-align: left;
      border: 5px solid #1C6EA4;
      border-radius: 0px 40px 0px 40px;
      border-collapse: collapse;
    }
    .divTable.blueTable .divTableCell, .divTable.blueTable .divTableHead {
      border: 1px solid #AAAAAA;
      padding: 3px 2px;
    }
    .divTable.blueTable .divTableBody .divTableCell {
      font-size: 13px;
    }
    .divTable.blueTable .divTableRow:nth-child(even) {
      background: #D0E4F5;
    }
    .divTable.blueTable .divTableHeading {
      background: #1C6EA4;
      background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
      background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
      background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
      border-bottom: 2px solid #444444;
    }
    .divTable.blueTable .divTableHeading .divTableHead {
      font-size: 15px;
      font-weight: bold;
      color: #000000;
      border-left: 2px solid #D0E4F5;
    }
    .divTable.blueTable .divTableHeading .divTableHead:first-child {
      border-left: none;
    }

    .blueTable .tableFootStyle {
      font-size: 14px;
    }
    .blueTable .tableFootStyle .links {
         text-align: right;
    }
    .blueTable .tableFootStyle .links a{
      display: inline-block;
      background: #1C6EA4;
      color: #FFFFFF;
      padding: 2px 8px;
      border-radius: 5px;
    }
    .blueTable.outerTableFooter {
      border-top: none;
    }
    .blueTable.outerTableFooter .tableFootStyle {
      padding: 3px 5px;
    }
    /* DivTable.com */
    .divTable{ display: table; }
    .divTableRow { display: table-row; }
    .divTableHeading { display: table-header-group;}
    .divTableCell, .divTableHead { display: table-cell;}
    .divTableHeading { display: table-header-group;}
    .divTableFoot { display: table-footer-group;}
    .divTableBody { display: table-row-group;}


    div.InnerTable {
      border: 1px solid #1C6EA4;
      background-color: #EEEEEE;
      width: 100%;
      text-align: left;
      border-collapse: collapse;
    }
    .divTable.InnerTable .divTableCell, .divTable.InnerTable .divTableHead {
      border: 1px solid #AAAAAA;
      padding: 3px 2px;
    }
    .divTable.InnerTable .divTableBody .divTableCell {
      font-size: 13px;
    }
    .divTable.InnerTable .divTableCell:nth-child(even) {
      background: #D0E4F5;
    }
    .InnerTable .tableFootStyle {
      font-size: 14px;
    }
    .InnerTable .tableFootStyle .links {
         text-align: right;
    }
    .InnerTable .tableFootStyle .links a{
      display: inline-block;
      background: #1C6EA4;
      color: #FFFFFF;
      padding: 2px 8px;
      border-radius: 5px;
    }
    .InnerTable.outerTableFooter {
      border-top: none;
    }
    .InnerTable.outerTableFooter .tableFootStyle {
      padding: 3px 5px;
    }
    /* DivTable.com */
    .divTable{ display: table; }
    .divTableRow { display: table-row; }
    .divTableHeading { display: table-header-group;}
    .divTableCell, .divTableHead { display: table-cell;}
    .divTableHeading { display: table-header-group;}
    .divTableFoot { display: table-footer-group;}
    .divTableBody { display: table-row-group;}

</style>

<body>
    <div class="divTable blueTable">
        <div class="divTableHeading">
            <div class="divTableRow">
                <div class="divTableHead"><center><h1>Hack Herald</h1></center></div>
            </div>
            <div class="divTableRow">
                <div class="divTableHead"></div>
            </div>
            <div class="divTableRow">
                <div class="divTableHead">
                    <center>
                        <h3>
                            <a th:href="@{/index/}"><i>Home</i></a> &nbsp
                            <a th:href="@{/storytype/} + topstories "><i>Top Stories</i></a> &nbsp
                            <a th:href="@{/storytype/} + newstories"><i>New Stories</i></a> &nbsp
                            <a th:href="@{/storytype/} + beststories"><i>Best Stories</i></a> &nbsp
                            <a th:href="@{/storytype/} + askstories "><i>Ask Stories</i></a> &nbsp
                            <a th:href="@{/storytype/} + showstories"><i>Show Stories</i></a> &nbsp
                            <a th:href="@{/storytype/} + jobstories"><i>Job Stories</i></a>
                        </h3>
                    </center>
                </div>
            </div>
        </div>
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell">
                    <div class="divTable InnerTable">
                        <div class="divTableBody">
                            <div class="divTableRow">
                                <div class="divTableCell"><h2 th:text="${$type}"/></div>
                                <div class="divTableCell">
                                    <table>
                                        <tbody>
                                        <tr th:each="item : ${$items}">
                                            <td style = "color:green">
                                                <a th:href="@{/viewitem/} + ${item.id}"> <h2 th:text="${item.title}" /> - (<i th:text="${item.type}" />) - [<i th:text="${item.time}" />]   </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
